* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  padding: 40px 0;
  font-family: "Arial", sans-serif;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.wrapper {
  width: 480px;
  margin: auto;
  padding: 25px;
  border: inherit;
  background-color: #fff;
}

.article {
  margin-top: 35px;
}

.article img {
  width: 100%;
}

.article h2 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #263555;
  margin-bottom: 20px;
}

.article img + p {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #263555;
}

.article h2 + p {
  margin-bottom: 15px;
  color: #263555;
}
.items {
  padding-right: 30px;
  list-style: none;
}

h4 {
 margin-bottom: 15px;
}

li {
  margin-bottom: 20px;
}

.items h4 {
  color: #263555;
  font-weight: normal;
}

.article-divider {
  border-bottom: 2px solid #bdc1ca;
 /* margin-bottom: 35px;*/
  padding-bottom: 15px;
}

.list {
  margin-top: 20px;
  margin-left: 20px;
  column-count: 2;
  line-height: 25px;
  color: #263555;
  list-style: none;
}
