
@import url('./fonts.css');

img {
    display: block;
    width: 100%;
    height: auto;
}

.masthead-wrapper {
    background-image: url('../images/banner.svg');
    background-color: #1a1915;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 1.25rem;
    padding-bottom: 8.625rem;
}

.container {
    min-width: 20rem;
    max-width: 58.75rem;
    margin: auto;
}

/*.masthead {
}*/

.masthead {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 2.5rem;
}

.logo {
    display: block;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.0625rem;
}

.nav {
    text-align: center;
}

.nav-link {
    display: inline-block;
    margin-bottom: 7.188rem;
    padding: 0.75rem 1.125rem;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none; 
    border: 0.125rem solid transparent;
    border-radius: 1.125rem;
}

.nav-link:hover {
    border-color: #ffffff;
}

.hero {
    text-align: center;
}

.hero-title {
    margin: auto;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.hero-subtitle {
    margin: auto;
    width: 68%;
    color: #ffffff;
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

.hero-btn {
    display: inline-block;
    width: 17.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #ff4e50;
    border-radius: 1.25rem;
}

.partners-wrapper {
    background-color: #ffffff;
    padding-top: 4.375rem;
    padding-bottom: 3.563rem;
}

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title {
    margin: auto;
    color: #333333;
    font-family: Montserrat;
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.partner-list {
    margin-bottom: 1.875rem;
}

/*.partner-list-item {
}*/

.partner-list-item:not(:last-child) {
    margin-bottom: 1.875rem;
}

.partner-card {
    max-width: 13.63rem;
}
.partner-card-content {
    margin-bottom: 1.25rem;
}

.partner-card-content img {
    margin: auto;
    width: 7.625rem;
    height: 7.625rem;
    border-radius: 50%;
}

/*.partner-card-meta {
    text-align: center;
}*/

.partner-card-name {
    display: block;
    color: #333333;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.partner-card-pos {
    color: #666666;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: 300;
}

.partner-btn {
    display: inline-block;
    width: 17.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #ff4e50;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: 700;
    background-color: #ffffff;
    border: 0.125rem solid #ff4e50;
    border-radius: 1.25rem;
    text-decoration: none;
}

.partner-btn:hover {
    color: #ffffff;
    background-color: #ff4e50;
}

@media (min-width:48rem)  {
    .masthead {
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10rem;
    }

    .nav-link {
        margin-bottom: 0;
    }

    .hero-title {
        max-width: 31.44rem;
        font-size: 3.25rem;
    }

    .hero-subtitle {
        font-size: 1.5rem;
    }

    .partner-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 30.63rem;
        margin: auto;
        margin-bottom: 2.625rem;
    }

    .partner-list-item {
        flex-basis: 44.1056%;
    }

    .partner-list-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

@media (min-width:58.75rem) {
    .partner-list {
        flex-wrap: nowrap;
        max-width: none;
    }

    .partner-list-item {
        flex-basis: 23.1914%;
    }

    .partner-list-item:not(:last-child) {
        margin-bottom: 0;
    }
}